<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Scan Results</h1>
        <p>Task id:</p>
        <p>Scan Status:</p>
    
        <dl>
            <dt>Nama Temuan </dt>
            <br>
            <dd><li>Description:</li></dd>
            <dd><li>Severity:</li></dd>
            <dd><li>Remediation:</li></dd>
            <dd><li>Affected Endpoint:</li></dd>



        </dl>



    </div>
    
</body>
</html>