.box{
    height:618px;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2% 2.5% ;
}

.textLabel{
    margin-bottom:30px;
}

form{
    margin-top: 20px;
}

.submitButton{
    margin-left: 250px ;
}



